#hero {
    font-family: 'lato', sans-serif;
    background-image: url("https://images.pexels.com/photos/2802527/pexels-photo-2802527.jpeg");
    height: 600px;
    background-size: cover;
    color: #fff;
}

#hero h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
    font-weight: 700;
}

.content {
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

.content button {
    font-size: 2rem;
    color: #fff;
    background-color: #2f70d8;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all .3s ease
}

.content button:hover {
background-color: blue;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}